### Hoeveel moet je per maand beleggen om op je 65e 1 miljoen euro te hebben?
Antwoord wordt bekeken van de onderstaande groepen
- 20 jarigen
- 30 jarigen
- 40 jarigen
- 50 jarigen
- 60 jarigen

#### aannames
- groeifactor van 6%
- startbedrag = 1e inleg

In [8]:
def inlegBerekenen(leeftijd, stop):
    t = 65 - leeftijd
    for inleg_maand in range(1,6000):
        inleg_jaar = inleg_maand*12
        totale_inv = []
        for i in range(0,t+1):
            if i == 0:
                totale_inv.append(inleg_jaar)
            else:
                totale_inv.append((totale_inv[i-1])*1.06+inleg_jaar)
                if totale_inv[i] > stop:
                    return inleg_maand


A = int(input("Hoe oud ben je? "))
B = int(input("Hoeveel wil je met pensioen "))
inlegBerekenen(A,B)

Hoe oud ben je?

ValueError: invalid literal for int() with base 10: ''

In [9]:
leeftijden = [20,25,30,35,40,45,50,55]
for leeftijd in leeftijden:
    print(inlegBerekenen(leeftijd,500000))

184
253
350
492
705
1042
1624
2784

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame()
df['Start Leeftijd'] = leeftijden
df['€500.000'] = df['Start Leeftijd'].apply(lambda x: inlegBerekenen(x,500000))
df['€750.000'] = df['Start Leeftijd'].apply(lambda x: inlegBerekenen(x,750000))
df['€1.000.000'] = df['Start Leeftijd'].apply(lambda x: inlegBerekenen(x,1000000))

df

   Start Leeftijd  €500.000  €750.000  €1.000.000
0              20       184       276         368
1              25       253       379         505
2              30       350       525         700
3              35       492       738         983
4              40       705      1057        1409
5              45      1042      1563        2084
6              50      1624      2435        3247
7              55      2784      4175        5567

In [92]:
import matplotlib.pyplot as plt

In [ ]:
plt.bar